Installer/packages/com.vendor.product/data/opengl32sw.dll
Installer/packages/com.vendor.product/data/Qt5Guid.dll
Installer/packages/com.vendor.product/data/D3Dcompiler_47.dll
Installer/packages/com.vendor.product/data/platforms/qwindowsd.dll
Installer/packages/com.vendor.product/data/Qt5Widgetsd.dll
Installer/packages/com.vendor.product/data/Qt5Bluetoothd.dll
Installer/packages/com.vendor.product/data/styles/qwindowsvistastyled.dll
Installer/packages/com.vendor.product/data/Qt5Cored.dll
Installer/packages/com.vendor.product/data/libGLESV2d.dll
Installer/packages/com.vendor.product/data/libEGLd.dll
